\#*
.\#*
*~
target/
bin/
build/
tmp/
*.class
.gradle/
.svn/
.settings/
.project
.classpath
.metadata/
.externalToolBuilders/
gradle.properties
doc/userguide/*.html
doc/userguide/*.pdf
*.hprof
gradle-app.setting
.factorypath
.apt_generated/
#created by openiec61850 clientgui:
lastconnection.properties
