# Gradle
.gradle/
build/
target/
gradle.properties

# IntelliJ IDEA
.idea
out/

# Eclipse
.settings/
.project
.classpath
.metadata/
**/bin/main/
**/bin/test/
target/iec61850-0.0.1-SNAPSHOT.jar
target/maven-archiver
*.jar